.task-input:focus {
    outline: none;
  transform: scale(1.05);

}

.task-input {
   
    color:gray
}


.clickable-element {
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .clickable-element:hover {
cursor: pointer;
  }

  .clickable-element {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .clickable-element:active {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scale(0.75);
    
  }


@keyframes clickAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  
 